
body {
    background-color: darkblue;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.frame {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    background-color: blue;
}

.scndframe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 750px;
    background-color: black;
}
.inter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 700px;

    background-color:grey ;
}
#textt {
    font-size: 100px; 
    font-family: 'Arial', sans-serif; 
    color: white; 
    text-align: center; }